@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 212 96% 8%; /* #01182a */
    --foreground: 210 40% 98%;
    --card: 212 90% 12%;
    --card-foreground: 210 40% 98%;
    --popover: 212 96% 8%;
    --popover-foreground: 210 40% 98%;
    --primary: 356 89% 40%; /* #c20c19 */
    --primary-foreground: 210 40% 98%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 25%;
    --muted-foreground: 215 20% 65%;
    --accent: 356 89% 50%;
    --accent-foreground: 210 40% 9.8%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 20%;
    --input: 217 33% 25%;
    --ring: 356 89% 45%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 212 96% 8%; /* #01182a */
    --foreground: 210 40% 98%;
    --card: 212 90% 12%;
    --card-foreground: 210 40% 98%;
    --popover: 212 96% 8%;
    --popover-foreground: 210 40% 98%;
    --primary: 356 89% 40%; /* #c20c19 */
    --primary-foreground: 210 40% 98%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 25%;
    --muted-foreground: 215 20% 65%;
    --accent: 356 89% 50%;
    --accent-foreground: 210 40% 9.8%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 20%;
    --input: 217 33% 25%;
    --ring: 356 89% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  .main-bg {
    background-color: hsl(var(--background));
    background-image: 
      linear-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px),
      linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
    background-size: 20px 20px;
    position: relative;
  }
}
